body {
    background-color: #34034A; /* Темно-фиолетовый фон всей страницы */
  }
  
  .bg-header {
    background-color: #50057B; /* Цвет фона шапки */
    color: white; /* Цвет текста в шапке */
  }
  
  .btn-game {
    background-color: #6C0785; /* Фиолетовый цвет кнопки */
    color: white; /* Белый текст на кнопке */
    border: none; /* Убрать рамку кнопки */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень кнопки */
  }
  
  .btn-game:hover {
    background-color: #7A0E95; /* Цвет кнопки при наведении */
  }
  
  input[type="text"] {
    border-radius: 20px; /* Скругленные края у поля ввода */
    border: 1px solid #888; /* Цвет рамки поля ввода */
  }
  